

header, footer, section {
    padding: 100px 0;
}

header {
    padding: 200px 0;
    background-color: black;
}



h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
img {
    width: 100%;
}
.hero{
    margin-bottom: 50px;
}
.btn-start {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    color: white;
    background-color: black;
}
.btn-start:hover {
    color: black;
    background-color: white;
}

.btn-stop {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    color: black;
    background-color: white;
}

.btn-stop:hover {
    color: white;
    background-color: black;
}

.timer-value {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
}
.field {
  margin-right: 30px;
}
.value {
  font-size: 92px;
  display: flex;
}
.label {
  text-transform: uppercase;
  font-size: 28px;
}
